@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');
@keyframes gradient {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animate-gradient {
  background-size: 200% 200%;
  animation: gradient 6s ease infinite;
}

/* .bg-300% {
  background-size: 300% 300%;
} */